<div id="wrapper" class="toggled">
    <side-bar></side-bar>
    <div id="page-content-wrapper" ng-cloak="">
        <div class="container-fluid">
            <!-- Отута весь контент -->
            <div class="jumbotron bordered">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <input ng-model="requestGroupNamePattern" type="text"
                                       ng-change="searchByNamePattern()" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-info" role="button" ng-click="createGroup()">
                                    Create group
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-info" role="button" ng-click="getGroupByAuthor()">
                                    Get all
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <table st-table="displayedGroups" st-safe-src="groups"
                               class="table table-stripped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th st-sort="name">Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="group in displayedGroups" ng-click="goToRequestGroupPage(group.id)"
                                class="animate-repeat">
                                <td>{{(currentPage - 1) * pageSize + $index + 1}}</td>
                                <td>{{group.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>