<div id="wrapper" class="toggled">
    <side-bar></side-bar>
    <div id="page-content-wrapper" ng-cloak="">
        <div class="container-fluid">
            <!-- Отута весь контент -->
            <div class="jumbotron bordered">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3" ng-show="isRequestGroupFree()">
                                <button class="btn btn-info" ng-click="startRequestGroupRequests()">
                                    Start all requests
                                </button>
                            </div>
                            <div class="col-md-3" ng-click="finishRequestGroupRequests()"
                                 ng-show="isRequestGroupInProgress()">
                                <button class="btn btn-info">
                                    Finish all requests
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <table st-table="requestList" st-safe-src="requests" class="table table-stripped">
                            <thead>
                            <th>#</th>
                            <th ng-class="{'sort-ascent': isAscOrder(requestFields.NAME),
                            'sort-descent': isDescOrder(requestFields.NAME)}" ng-click="orderRequestsByName()">Name
                            </th>
                            <th>Employee</th>
                            <th ng-class="{'sort-ascent': isAscOrder(requestFields.ESTIMATE),
                            'sort-descent': isDescOrder(requestFields.ESTIMATE)}" ng-click="sortRequestsByEstimate()">
                                Estimate
                            </th>
                            <th ng-class="{'sort-ascent': isAscOrder(requestFields.PRIORITY),
                            'sort-descent': isDescOrder(requestFields.PRIORITY)}" ng-click="sortRequestsByPriority()">
                                Priority
                            </th>
                            <th ng-class="{'sort-ascent': isAscOrder(requestFields.CREATE_TIME),
                            'sort-descent': isDescOrder(requestFields.CREATE_TIME)}" ng-click="sortRequestsByCreatingTime()">
                                Created
                            </th>
                            <th ng-class="{'sort-ascent': isAscOrder(requestFields.STATUS),
                            'sort-descent': isDescOrder(requestFields.STATUS)}" ng-click="sortRequestsByStatus()">
                                Status
                            </th>
                            <th></th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="request in requestList">
                                <td ng-click="goToRequestDetailsPage(request.id)">
                                    {{(currentPage - 1) * pageSize + $index + 1}}
                                </td>
                                <td ng-click="goToRequestDetailsPage(request.id)">{{request.name}}</td>
                                <td ng-click="goToRequestDetailsPage(request.id)">
                                    {{request.manager.firstName}} {{request.manager.lastName}}
                                </td>
                                <td ng-click="goToRequestDetailsPage(request.id)">
                                    {{request.estimate | date: "dd.MM.yyyy HH:mm"}}
                                </td>
                                <td ng-click="goToRequestDetailsPage(request.id)">
                                    {{request.priority.name}}
                                </td>
                                <td ng-click="goToRequestDetailsPage(request.id)">
                                    {{request.creationTime | date: "dd.MM.yyyy HH:mm"}}
                                </td>
                                <td ng-click="goToRequestDetailsPage(request.id)">{{request.status.name}}</td>
                                <td>
                                    <div class="col-md-2">
                                        <button class="btn btn-danger" ng-click="removeFromRequestGroup(request.id)">
                                            Remove from request group
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-2">
                                <input type="number" class="form-control" ng-model="pageSize"
                                       ng-change="getRequestByGroup()">
                            </div>
                            <div class="center-block col-md-10">
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage"
                                    max-size="maxSize" class="pagination-sm" boundary-links="true"
                                    ng-change="getRequestByGroup()" items-per-page="pageSize"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>