<nav class="nav-top">
    <h1 class="nav-top__brand">Request Details</h1>
</nav>

<section class="main-form section-padding" ng-cloak="">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1">
                <h1 class="title-text">{{request.name}}</h1>
            </div>
            <div class="col-md-offset-1 col-md-5" id="accordion">
                <div class="row toggle-border">
                    <h4 class="title-text hr-sect">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseDetails">
                            Details
                        </a>
                    </h4>
                    <div id="collapseDetails" class="collapse in">
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="ul-decoration">
                                    <li><span class="bold">Author:</span> <a ng-href="#">{{request.employee.firstName +
                                        data.employee.lastName}}</a></li>
                                    <li><span class="bold">Created:</span> {{creationTime}}</li>
                                    <li><span class="bold">Priority:</span>
                                        <select class="input-sm" ng-model="priorityList.value" ng-options="x for x in priorityList.values"
                                                ng-change="prioritySelect(priorityList.value)">
                                        </select>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-offset-1 col-md-4 border">
                                <ul class="ul-decoration">
                                    <li><span class="bold">Status:</span> {{request.status.name}}</li>
                                    <li><span class="bold">Estimate:</span> {{request.estimate | date : "dd.MM.yyyy
                                        HH:mm"}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row toggle-border">
                    <h4 class="title-text hr-sect">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseDescription">
                            Description
                        </a>
                    </h4>
                    <div id="collapseDescription" class="collapse in">
                        {{request.description}}
                    </div>
                </div>
                <div class="row toggle-border">
                    <h4 class="title-text hr-sect">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseSubtasks">
                            Subtasks
                        </a>
                    </h4>
                    <div id="collapseSubtasks" class="collapse in">
                        <div class="list-group col-md-5">
                            <a ng-href="/request/{{subtask.id}}" class="list-group-item"
                               ng-repeat="subtask in subRequest">{{subtask.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="row toggle-border">
                    <h4 class="title-text hr-sect">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseHistory">
                            History
                        </a>
                    </h4>
                    <div id="collapseHistory" class="collapse in">
                        <select  id="historySelector" class="input-sm" ng-model="periodList.value" ng-options="x for x in periodList.values"
                                ng-change="historyForPeriod(periodList.value)">
                        </select>
                        <div ng-if="historyList.length!=0">
                            <table class="table">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>Property</th>
                                    <th>New value</th>
                                    <th>Old value</th>
                                    <th>Author</th>
                                    <th>Time creation</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  class="animate-repeat" ng-repeat="history in historyList">
                                    <th>{{history.property}}</th>
                                    <td>{{history.newValue}}</td>
                                    <td>{{history.oldValue}}</td>
                                    <!--TODO author id-->
                                    <td><a ng-href="#">{{history.author}}</a></td>
                                    <td>{{history.createTime}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="historyList.length==0">
                            No changes for this period
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 additional-padding" id="accordion1">
                <div class="row toggle-border">
                    <h4 class="title-text hr-sect">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapsePerson">
                            Responsible Manager
                        </a>
                    </h4>
                    <div id="collapsePerson" class="collapse in">
                        <div ng-if="request.manager!=null">
                            <ul class="ul-decoration">
                                <li><span class="bold">Manager:</span> <a ng-ref="#">{{request.manager.firstName +
                                    data.manager.lastName}}</a>
                                </li>
                                <li><span class="bold">Email:</span> {{request.manager.email}}</li>
                            </ul>
                        </div>
                        <div ng-if="request.manager==null">
                            Managers don't work on this task
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-md-6" id="comment-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group">
                                        <label for="comment">Your comment:</label>
                                        <textarea placeholder="Write comment here" ng-model="comment" id="comment"
                                                  class="form-control" ng-keypress="sendOnEnterKey($event)"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" ng-repeat="comment in comments | orderBy: comment.publishDate: true">
                        <div class="row">
                            <div class="col-md-3">
                                <p><b>{{comment.publishDate | date: "d-MM-yyyy HH:mm"}}</b></p>
                            </div>
                            <div class="col-md-6">
                                <!--TODO Write user name and surname here-->
                                <p>
                                    <b>{{getUserName(comment.author.id)}}</b>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    {{comment.body}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>