<nav class="nav-top">
    <h1 class="nav-top__brand">Request List</h1>
</nav>

<section class="main-form section-padding" ng-cloak="" ng-controller="RequestListController">
    <div class="container">
        <div class="row">
            <!-- Modal for messages-->
            <message-popup></message-popup>

            <!-- Modal for search manager-->
            <div class="modal fade" id="modalSearch" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Assignee</h4>
                        </div>
                        <div class="modal-body">
                            Selected manager: <p ng-show="!isUndefined(selectedManager)">{{selectedManager.firstName + ' ' + selectedManager.lastName }}</p>
                            <input ng-change="update()" type="text" ng-model="selectedManager"
                                   uib-typeahead="manager as manager.firstName + ' ' +  manager.lastName for manager in managers"
                                   class="form-control" typeahead-show-hint="true" typeahead-min-length="3">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    data-toggle="modal"  ng-click="assign()"
                                    data-target="#messageModal">Assign</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


           <div class="col-sm-3 sidenav">
                <h4>Filter</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="/requestList">Free request</a></li>
                    <li><a href="/myOpen">My open requests</a></li>
                </ul><br>
            </div>
            <office-manager-sidebar ng-cloak="" ng-show = "role == 'ROLE_OFFICE MANAGER'"></office-manager-sidebar>

            <div class="col-sm-9">
                <form class="form-inline">
                    <label>Priority
                        <select  ng-model="selectedPriority" ng-change="priorityChange(selectedPriority)"
                                data-ng-options="priority as priority.name for priority in priorities"
                                class="form-control">
                        </select>
                    </label>
                </form>
                <div id="collapseHistory" class="collapse in">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Name</th>
                            <th>Details</th>
                            <th>Employee</th>
                            <th>Estimate</th>
                            <th>Priority</th>
                            <th>Created</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr uib-tooltip="Click to see details"
                                    scope="row" ng-repeat="request in requests">
                                <td ng-click="requestDetails(request.id)">{{ request.name }}</td>
                                <td ng-click="requestDetails(request.id)">{{ request.description | limitTo: 50 }}</td>
                                <td ng-click="requestDetails(request.id)">{{ request.employee.firstName + ' ' + request.employee.lastName }}</td>
                                <td ng-click="requestDetails(request.id)">{{ request.estimate | date : 'yyyy-MM-dd HH:mm:ss' }}</td>
                                <td ng-click="requestDetails(request.id)">{{ request.priority.name }}</td>
                                <td ng-click="requestDetails(request.id)">{{ request.creationTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>
                                    <button class="bnt" data-toggle="modal" data-target="#messageModal"
                                            ng-click="assignToMe(request.id)">Assign to me</button>
                                    <button ng-show="isAdmin()" class="bnt" data-toggle="modal"
                                            ng-click="selectRequest(request.id)" data-target="#modalSearch">Assign</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="center-block">
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage"
                            max-size="maxSize" class="pagination-sm" boundary-links="true"
                            ng-change="pageChanged()" items-per-page="pageSize"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>