
<!---->

<div ng-controller = "NewRequestController">
    <div id="wrapper" class="toggled">
        <side-bar></side-bar>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="jumbotron bordered">
                    <div class="row">
                        <form class="form-horizontal col-lg-10 col-lg-offset-1">
                            <fieldset>
                                <legend>New request</legend>
                                <div class="form-group">
                                    <label for="inputTitle" class="col-lg-2 control-label">Title</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="requestCredentials.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textArea" class="col-lg-2 control-label">Details</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" rows="3" id="textArea" ng-model="requestCredentials.description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEstimate" class="col-lg-2 control-label">Estimate</label>
                                    <div class="col-lg-10">
                                        <input type="date" class="form-control" id="inputEstimate" placeholder="Estimate" ng-model="requestCredentials.estimate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="select" class="col-lg-2 control-label">Priority</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" id="select" ng-model="requestCredentials.priority">
                                            <option value="1" >Low</option>
                                            <option value="2">Normal</option>
                                            <option value="3">High</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-click="sendRequestCredentials()">Save</button>
                                        <button type="reset" class="btn btn-default">Reset</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>