<div id="wrapper" class="toggled">
    <side-bar></side-bar>
    <div id="page-content-wrapper" ng-cloak="">
        <div class="container-fluid">
            <!-- Отута весь контент -->
            <div class="jumbotron bordered">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-10">
                                        <legend>Request: {{request.name}}</legend>
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-default" ng-show="!isCurrentUserSubscribing()"
                                                ng-click="subscribe()">
                                            Subscribe <i class="fa fa-eye"></i>
                                        </button>
                                        <button class="btn btn-default" ng-show="isCurrentUserSubscribing()"
                                                ng-click="unsubscribe()">
                                            Unsubscribe <i class="fa fa-eye-slash"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-lg-12">

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="request-btn-wrapper">
                                                <button ng-click="requestDelete(request.id)"
                                                        class="btn btn-danger request-btn"
                                                        ng-show="showCancelButton()">
                                                    Cancel
                                                </button>
                                                <add-to-request-group-btn class="request-btn"
                                                                          ng-show="showAddGroupBtn()">
                                                </add-to-request-group-btn>
                                                <button class="btn btn-danger request-btn"
                                                        ng-show="showRemoveFromGroupBtn()"
                                                        ng-click="removeFromRequestGroup()">
                                                    Remove from group
                                                </button>
                                                <a ng-click="unassign(request.id)" class="btn btn-danger request-btn"
                                                   ng-show="showUnassignBtn()">Unassign</a>
                                                <button class="btn btn-info request-btn" ng-show="showAssignBtn()"
                                                        ng-click="assignToMe(request.id)">
                                                    Assign
                                                </button>
                                                <assign-to-smb-btn class="request-btn"
                                                                   ng-show="showAssignToSmbBtn()"></assign-to-smb-btn>
                                                <button class="btn btn-success request-btn"
                                                        ng-click="setInProgressStatus()"
                                                        ng-show="showStartRequestBtn()">
                                                    Start
                                                </button>
                                                <button class="btn btn-warning request-btn" ng-click="setClosedStatus()"
                                                        ng-show="showFinishRequestBtn()">
                                                    Finish
                                                </button>
                                                <button class="btn btn-info request-btn" ng-click="setReopen()"
                                                        ng-show="showReopenBtn()">
                                                    Reopen
                                                </button>
                                                <button ng-click="requestUpdate(request.id)"
                                                        class="btn btn-secondary request-btn"
                                                        ng-show="showUpdateBtn()">
                                                    Edit
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-lg-6">
                                        <label for="author" class="col-lg-1 control-label">Author:</label>
                                        <div class="col-lg-12">
                                        <span class="form-control-static" id="author">
                                            {{request.employee.firstName}} {{request.employee.lastName}}
                                        </span>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6 col-lg-6">
                                        <label for="status" class="col-lg-1 control-label">Status:</label>
                                        <div class="col-lg-12">
                                        <span class="form-control-static" id="status">
                                            {{request.status.name}}
                                        </span>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-lg-6">
                                        <label for="priority" class="col-lg-1 control-label">Priority:</label>
                                        <div class="col-lg-12">
                                        <span class="form-control-static" id="priority">
                                            {{request.priority.name}}
                                        </span>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-lg-6">
                                        <label for="created" class="col-lg-1 control-label">Created:</label>
                                        <div class="col-lg-12">
                                        <span class="form-control-static" id="created">
                                            {{request.creationTime | date: "dd.MM.yyyy HH:mm"}}
                                        </span>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-lg-6">
                                        <label for="estimate" class="col-lg-1 control-label">Estimate:</label>
                                        <div class="col-lg-12">
                                        <span class="form-control-static" id="estimate">
                                            <span ng-if="!!request.estimate">
                                                {{request.estimate | date: "dd.MM.yyyy HH:mm"}}
                                            </span>
                                            <span ng-if="!request.estimate">
                                                Not specified
                                            </span>
                                        </span>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-6 col-md-6">
                                        <label for="manager" class="col-lg-2 control-label">Manager:</label>
                                        <div class="col-lg-12">
                                            <span ng-if="!!request.manager" class="form-control-static" id="manager">
                                                {{request.manager.firstName}} {{request.manager.lastName}}
                                            </span>

                                            <span ng-if="!request.manager" class="form-control-static">
                                                Not assigned a manager
                                            </span>

                                        </div>
                                    </div>

                                    <div class="form-group col-lg-6 col-md-6">
                                        <label for="manager" class="col-lg-2 control-label">Request group:</label>
                                        <div class="col-lg-12">
                                            <span ng-if="!!request.requestGroup" class="form-control-static"
                                                  id="request-group">
                                                <a ng-click="goToRequestGroupDetails()">
                                                    {{request.requestGroup.name}}
                                                </a>
                                            </span>

                                            <span ng-if="!request.requestGroup" class="form-control-static">
                                                Not specified
                                            </span>

                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-lg-12">
                                        <label for="details" class="col-lg-2 col-md-2 control-label">Details:</label>
                                        <div class="col-lg-12 col-md-12">
                                        <span class="form-control-static word-break" id="details">
                                            {{request.description}}
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12" ng-controller="SubController">
                                        <uib-accordion class="subtask-accordion"
                                                       ng-show="((Session.getUserRole()=='ROLE_ADMINISTRATOR')||(Session.getUserRole()=='ROLE_OFFICE MANAGER'&&request.manager.id == Session.getCurrentUser().id))">
                                            <div uib-accordion-group class="panel-default" is-open="status.open">
                                                <uib-accordion-heading>
                                                    Subtasks <i class="pull-right glyphicon"
                                                                ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                                </uib-accordion-heading>
                                                <div>
                                                    <button class="btn btn-success pull-up"
                                                            ng-show="!showNewSubForm && (request.status.id==1 || request.status.id==2)"
                                                            ng-click="toggleNewSub()">Add new subtask
                                                    </button>
                                                    <button class="btn btn-success pull-up"
                                                            ng-click="showFinished = !showFinished">
                                                        <span class="glyphicon glyphicon-ok"
                                                              ng-show="showFinished"></span>
                                                        <span class="glyphicon glyphicon glyphicon-remove"
                                                              ng-show="!showFinished"> </span> Show finished
                                                    </button>
                                                </div>
                                                <div class="subtask-form" ng-show="showNewSubForm">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">New subtask</div>
                                                        <div class="panel-body">
                                                            <form class="form-horizontal">
                                                                <fieldset>
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group"
                                                                             ng-class="{'has-warning':validationError.newSubTittle}">
                                                                            <label for="inputTitle"
                                                                                   class="col-lg-2 control-label">Title</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control"
                                                                                       id="inputTitle"
                                                                                       placeholder="Title"
                                                                                       ng-model="newSub.name"
                                                                                       ng-change="validationError.newSubTittle=false">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="inputDetails"
                                                                                   class="col-lg-2 control-label">Details</label>
                                                                            <div class="col-lg-10">
                                                                                <textarea type="text"
                                                                                          class="form-control"
                                                                                          id="inputDetails"
                                                                                          ng-model="newSub.description"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group">
                                                                            <label for="newSubDate"
                                                                                   class="col-lg-2 control-label">Estimate</label>
                                                                            <div class="col-lg-10"
                                                                                 ng-click="calendarFormClick()">
                                                                                <input class="form-control"
                                                                                       id='newSubDate' datetimepicker
                                                                                       options="dateOptions"
                                                                                       placeholder="Estimate"
                                                                                       ng-model="newSub.estimate">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="inputPriority"
                                                                                   class="col-lg-2 control-label">Priority</label>
                                                                            <div class="col-lg-10">
                                                                                <Select type="text" class="form-control"
                                                                                        id="inputPriority"
                                                                                        ng-model="newSub.priority"
                                                                                        ng-options="value.id as value.name for value in priorities">
                                                                                </Select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <div class="pull-right">
                                                                            <button class="btn btn-primary"
                                                                                    ng-click="addSub()">Add
                                                                            </button>
                                                                            <button class="btn btn-default"
                                                                                    ng-click="toggleNewSub()">Cancel
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="subtask-container">
                                                    <div class="panel panel-default pull-up"
                                                         ng-repeat="sub in subs | orderBy:'status':false:statusComparator"
                                                         ng-show="finishedFilter(showFinished, sub)">
                                                        <div class="panel-heading">
                                                            <div class="row">
                                                                <div class="col-md-8 col-sm-8" ng-show="sub.showEdit">
                                                                    <input type="text"
                                                                           ng-class="{'has-warning':validationError.editSubTittle}"
                                                                           class="form-control input-sm"
                                                                           ng-model="sub.name">
                                                                </div>
                                                                <div class="col-md-4 col-sm-4"
                                                                     ng-show="sub.showEdit && (request.status.id==1 || request.status.id==2)">
                                                                    <div class="pull-right">
                                                                        <button class="btn btn-primary btn-xs"
                                                                                ng-click="updateSub(sub)">Save
                                                                        </button>
                                                                        <button class="btn btn-danger btn-xs"
                                                                                ng-click="resetEdit(sub)">Cancel
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-8 col-sm-8" ng-show="!sub.showEdit">
                                                                        <span ng-bind="sub.name">
                                                                        </span>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4"
                                                                     ng-show="!sub.showEdit && (request.status.id==1 || request.status.id==2)">
                                                                    <div class="pull-right">
                                                                        <button class="btn btn-primary btn-xs"
                                                                                ng-click="goEdit(sub)">Edit
                                                                        </button>
                                                                        <button class="btn btn-danger btn-xs"
                                                                                ng-click="deleteSub(sub)">Delete
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <form class="form-horizontal">
                                                                <fieldset>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                                        <div class="form-group">
                                                                            <label for="outputAuthor"
                                                                                   class="col-lg-2 control-label">Author</label>
                                                                            <div class="form-control-static col-lg-10">
                                                                                    <span id="outputAuthor">
                                                                                        {{sub.firstName+" "+sub.lastName}}
                                                                                    </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group" ng-show="sub.showEdit">
                                                                            <label for="inputEditDetails"
                                                                                   class="col-lg-2 control-label">Details</label>
                                                                            <div class="col-lg-10">
                                                                                <textarea type="text"
                                                                                          class="form-control"
                                                                                          id="inputEditDetails"
                                                                                          ng-model="sub.description"></textarea>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group" ng-show="!sub.showEdit">
                                                                            <label for="outputDetails"
                                                                                   class="col-lg-2 control-label">Details</label>
                                                                            <div class="form-control-static col-lg-10">
                                                                                    <span id="outputDetails"
                                                                                          ng-bind="sub.description"
                                                                                          class="word-break">
                                                                                    </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                                        <div class="form-group"
                                                                             ng-show="request.status.id==1 || request.status.id==2">
                                                                            <label for="inputEditStatus"
                                                                                   class="col-lg-2 control-label">Status</label>
                                                                            <div class="col-lg-10">
                                                                                <Select type="text" class="form-control"
                                                                                        id="inputEditStatus"
                                                                                        ng-model="sub.shownStatus"
                                                                                        ng-change="onStatusChange(sub)"
                                                                                        ng-options="value.id as value.name for value in statuses">
                                                                                </Select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group"
                                                                             ng-show="!(request.status.id==1 || request.status.id==2)">
                                                                            <label for="outputStatus"
                                                                                   class="col-lg-2 control-label">Status</label>
                                                                            <div class="form-control-static col-lg-10">
                                                                                    <span id="outputStatus">
                                                                                        {{getStatusName(sub.status)}}
                                                                                    </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group" ng-show="sub.showEdit">
                                                                            <label for="inputEditPriority"
                                                                                   class="col-lg-2 control-label">Priority</label>
                                                                            <div class="col-lg-10">
                                                                                <Select type="text" class="form-control"
                                                                                        id="inputEditPriority"
                                                                                        ng-model="sub.priority"
                                                                                        ng-options="value.id as value.name for value in priorities">
                                                                                </Select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group" ng-show="!sub.showEdit">
                                                                            <label for="outputPriority"
                                                                                   class="col-lg-2 control-label">Priority</label>
                                                                            <div class="form-control-static col-lg-10">
                                                                                    <span id="outputPriority">
                                                                                        {{getPriorityName(sub.priority)}}
                                                                                    </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group" ng-show="sub.showEdit">
                                                                            <label for="inputEditEstimate"
                                                                                   class="col-lg-2 control-label">Estimate</label>
                                                                            <div class="col-lg-10">
                                                                                <input class="form-control"
                                                                                       id='inputEditEstimate'
                                                                                       datetimepicker
                                                                                       options="dateOptions"
                                                                                       placeholder="Estimate"
                                                                                       ng-model="sub.estimate">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group" ng-show="!sub.showEdit">
                                                                            <label for="outputEstimate"
                                                                                   class="col-lg-2 control-label">Estimate</label>
                                                                            <div class="form-control-static col-lg-10">
                                                                                    <span id="outputEstimate">
                                                                                        {{sub.estimate.format("DD.MM.YYYY HH:mm")}}
                                                                                    </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-accordion>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-lg-12">
                            <uib-tabset active="activeForm">
                                <uib-tab index="0" heading="Comments">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form>
                                                <div class="form-group">
                                                    <label for="comment">Your comment:</label>
                                                    <textarea placeholder="Write comment here"
                                                              ng-model="$parent.$parent.comment" id="comment"
                                                              class="form-control"></textarea>
                                                    <button class="btn btn-success send-comment-btn"
                                                            ng-click="sendComment()">Send comment
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div id="comments-wrapper">
                                            <div class="col-lg-12 col-md-12"
                                                 ng-repeat="comment in comments | orderBy: 'publishDate': true ">
                                                <div class="list-group comment-wrapper">
                                                    <div class="comment-header">
                                                        <span class="comment-author">{{getAuthorName(comment.author.id)}}</span>
                                                        <span class="comment-date">
                                                    {{comment.publishDate | date: "dd.MM.yyyy HH:mm"}}
                                                </span>
                                                    </div>
                                                    <div class="comment-body">
                                                        <p>{{comment.body}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div ng-click="getNextCommentPage()" class="show-more-wrapper"
                                                     ng-show="getCommentPageSize() > 0">
                                                    <p class="show-more-text">Show {{getCommentPageSize()}} more</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="1" heading="History" ng-show="historyList.length > 0">
                                    <select ng-model="$parent.$parent.chosenPeriod"
                                            ng-change="changeHistoryPeriod()" class="input-sm">
                                        <option ng-repeat="period in periodList" ng-value="period"
                                                ng-selected="$parent.$parent.period === chosenPeriod">
                                            {{period}}
                                        </option>
                                    </select>
                                    <table st-table="displayedHistory" st-safe-src="historyList"
                                           class="table table-stripped">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th st-sort="field.name">Property</th>
                                            <th st-sort="oldVal">Old value</th>
                                            <th st-sort="newVal">New value</th>
                                            <th st-sort="author.lastName">Author</th>
                                            <th st-sort="createDate">Change time</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="history-row" ng-repeat="historyItem in displayedHistory | orderBy: 'createDate': true">
                                            <td>
                                                {{$index + 1}}
                                            </td>
                                            <td>
                                                {{historyItem.field.name}}
                                            </td>
                                            <td>
                                                {{historyItem.oldVal}}
                                            </td>
                                            <td>
                                                {{historyItem.newVal}}
                                            </td>
                                            <td>
                                                <a href="#">
                                                    {{historyItem.author.firstName}}
                                                    {{historyItem.author.lastName}}
                                                </a>
                                            </td>
                                            <td>
                                                {{historyItem.createDate | date : 'dd.MM.yyyy HH:mm:ss'}}
                                            </td>
                                        </tbody>
                                    </table>
                                    <div ng-click="getNextHistoryPage('month')" class="show-more-wrapper"
                                         ng-show="getHistoryPageSize() > 0">
                                        <p class="show-more-text">Show {{getHistoryPageSize()}} more</p>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-directive></footer-directive>