<div id="wrapper" class="toggled">
    <side-bar></side-bar>
    <div id="page-content-wrapper" ng-cloak="">
        <div class="container-fluid">
            <div class="jumbotron bordered">
                <div class="row">
                    <div class="col-md-8" ng-show="assigned">
                        <input ng-model="selectedCurrentManager" type="text" placeholder="{{placeholder}}"
                               ng-change="updateManager()" uib-typeahead="manager as manager.firstName + ' '
                               +  manager.lastName for manager in managers"
                               class="form-control" typeahead-show-hint="true" typeahead-min-length="3">
                    </div>

                    <div class="col-md-8" ng-show="!assigned">
                        <input ng-model="selectedUser" type="text" placeholder="{{placeholder}}"
                               ng-change="updateUser()" uib-typeahead="user as user.firstName + ' '
                               +  user.lastName for user in users"
                               class="form-control" typeahead-show-hint="true" typeahead-min-length="3">
                    </div>
                    <div class="col-md-10" ng-show="requestListByUserVisibility">
                        <p class="empty-request-title-2">{{title}}</p>
                    </div>
                    <a ng-click="pageChanged()" class="btn btn-default">Get request</a>
                    <div class="col-md-12" ng-show="!requestListByUserVisibility">
                        <table st-table="requestList" st-safe-src="requests" class="table table-stripped user-table-stripped">
                            <thead>
                            <th>#</th>
                            <th ng-class="{'sort-ascent': isAscOrder(requestFields.NAME),
                            'sort-descent': isDescOrder(requestFields.NAME)}" ng-click="orderRequestsByName()">Name</th>
                            <th>{{personType}}</th>
                            <th ng-class="{'sort-ascent': isAscOrder(requestFields.ESTIMATE),
                            'sort-descent': isDescOrder(requestFields.ESTIMATE)}" ng-click="sortRequestsByEstimate()">
                                Estimate
                            </th>
                            <th  ng-class="{'sort-ascent': isAscOrder(requestFields.PRIORITY),
                            'sort-descent': isDescOrder(requestFields.PRIORITY)}" ng-click="sortRequestsByPriority()">
                                Priority
                            </th>
                            <th ng-class="{'sort-ascent': isAscOrder(requestFields.CREATE_TIME),
                            'sort-descent': isDescOrder(requestFields.CREATE_TIME)}"
                                ng-click="sortRequestsByCreatingTime()">
                                Created
                            </th>
                            <th ng-class="{'sort-ascent': isAscOrder(requestFields.STATUS),
                             'sort-descent': isDescOrder(requestFields.STATUS)}" ng-click="sortRequestsByStatus()">
                                Status
                            </th>
                            <!--<th></th>-->
                            </thead>
                            <tbody>
                            <tr ng-repeat="request in requestList" class="task-row">
                                <td>{{(currentPage - 1) * pageSize + $index + 1}}</td>
                                <td ng-click="goToRequestDetailsPage(request.id)">{{request.name}}</td>
                                <td ng-show="assigned" ng-click="goToRequestDetailsPage(request.id)">
                                    {{request.employee.firstName}} {{request.employee.lastName}}
                                </td>
                                <td ng-show="!assigned" ng-click="goToRequestDetailsPage(request.id)">
                                    {{request.manager.firstName}} {{request.manager.lastName}}
                                </td>
                                <td ng-click="goToRequestDetailsPage(request.id)">{{request.estimate | date: "dd.MM.yyyy HH:mm"}}</td>
                                <td ng-click="goToRequestDetailsPage(request.id)">{{request.priority.name}}</td>
                                <td ng-click="goToRequestDetailsPage(request.id)">{{request.creationTime | date: "dd.MM.yyyy HH:mm"}}</td>
                                <td ng-click="goToRequestDetailsPage(request.id)">{{request.status.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-2">
                                <input type="number" class="form-control" ng-model="pageSize" ng-change="pageChanged()">
                            </div>
                            <div class="center-block col-md-10">
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage"
                                    max-size="maxSize" class="pagination-sm" boundary-links="true"
                                    ng-change="pageChanged()" items-per-page="pageSize"></ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-directive></footer-directive>