<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="template/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <style type="template/css">
        * {
            margin: 0;
            padding: 0;
            font-size: 100%;
            font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            line-height: 1.65;
        }

        body,
        .body-wrap {
            width: 100% !important;
            height: 100%;
            background: #efefef;
            -webkit-font-smoothing: antialiased;
            -webkit-template-size-adjust: none;
        }

        a {
            color: #779e3c;
            template-decoration: none;
        }

        .button {
            display: inline-block;
            color: white;
            background: #779e3c;
            border: solid #779e3c;
            border-width: 10px 20px 8px;
            font-weight: bold;
            border-radius: 4px;
        }

        h1, h2, h3 {
            margin-bottom: 20px;
            line-height: 1.25;
        }

        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 28px;
        }

        h3 {
            font-size: 24px;
        }

        h4 {
            font-size: 20px;
        }

        h5 {
            font-size: 16px;
        }

        p, ul, ol {
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 20px;
        }

        pre {
            font-size: 16px;
            font-weight: normal;
        }

        .container {
            display: block !important;
            clear: both !important;
            margin: 0 auto !important;
            max-width: 580px !important;
        }

        .container table {
            width: 100% !important;
            border-collapse: collapse;
        }

        .container .masthead {
            padding: 20px 0;
            background: #779e3c;
            color: white;
        }

        .container .masthead h1 {
            margin: 0 auto !important;
            max-width: 30%;
            template-transform: uppercase;
        }

        .container .content {
            background: white;
            padding: 30px 35px;
        }

        .shortage {
            display: block;
            width: 490px;
            overflow: hidden;
            white-space: nowrap !important;
            template-overflow: ellipsis;
        }

        .request-changed-field {
            template-transform: uppercase;
        }
    </style>
</head>
<body>
<table class="body-wrap">
    <tr>
        <td class="container">
            <!-- Message start -->
            <table>
                <tr>
                    <td align="center" class="masthead">
                    </td>
                </tr>
                <tr>
                    <td class="content">
                        <h2>Hello $name,</h2>
                        <p>
                            request <b>"$requestName"</b> has been updated.
                        </p>
                        <pre>Changes: <span class="request-changed-field"><b>$changeItem</b></span></pre>
                        <ul>
                            <li><span class="shortage"><strike>$oldValue</strike></span></li>
                            <li><span class="shortage">$newValue</span></li>
                        </ul>
                        <p>
                            Check more at request page.
                        </p>
                        <table>
                            <tr>
                                <td align="center">
                                    <p>
                                        <a href="$link"
                                           class="button">Request details</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <p><em>Best regards,<br> Office Management System</em></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>