<div id="wrapper" class="toggled">
    <side-bar></side-bar>
    <div id="page-content-wrapper" ng-cloak="">
        <div class="container-fluid">

            <div class="jumbotron bordered">
                <div class="row">
                    <div class="col-md-2">
                        <a href="/secured/admin/registration" class="btn btn-default">Register user</a>
                    </div>
                    <div class="col-md-8">
                        <form class="form-inline">
                            <label>Role
                                <select ng-model="selectedRole" ng-change="roleChange(selectedRole)"
                                        data-ng-options="role as role.name for role in roles"
                                        class="form-control">
                                </select>
                            </label>
                        </form>
                    </div>

                    <div class="col-md-12">
                        <table st-table="personList" st-safe-src="persons" class="table table-stripped">
                            <thead>
                            <th>#</th>
                            <th class="person-list-attribute" ng-class="{'sort-ascent': isAscOrder(personFields.FIRST_NAME),
                            'sort-descent': isDescOrder(personFields.FIRST_NAME)}" ng-click="orderPersonsByFirstName()">
                                First name
                            </th>
                            <th class="person-list-attribute" ng-class="{'sort-ascent': isAscOrder(personFields.LAST_NAME),
                            'sort-descent': isDescOrder(personFields.LAST_NAME)}" ng-click="orderPersonsByLastName()">
                                Last name
                            </th>
                            <th class="person-list-attribute" ng-class="{'sort-ascent': isAscOrder(personFields.EMAIL),
                            'sort-descent': isDescOrder(personFields.EMAIL)}" ng-click="orderPersonsByEmail()">
                                Email
                            </th>
                            <th class="person-list-attribute" ng-class="{'sort-ascent': isAscOrder(personFields.ROLE),
                            'sort-descent': isDescOrder(personFields.ROLE)}" ng-click="orderPersonsByRole()">
                                Role
                            </th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="person in personList" class="task-row">
                                <td>{{(currentPage - 1) * pageSize + $index + 1}}</td>
                                <td ng-click="goToPersonDetailsPage(person.id)">{{person.firstName}}</td>
                                <td ng-click="goToPersonDetailsPage(person.id)">{{person.lastName}}</td>
                                <td ng-click="goToPersonDetailsPage(person.id)">{{person.email}}</td>
                                <td ng-click="goToPersonDetailsPage(person.id)">{{person.role.name}}</td>
                                <td>
                                    <a ng-click="personUpdate(person.id)" class="btn btn-info">Edit</a>
                                    <a ng-click="personDelete(person)" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-2">
                                <input type="number" class="form-control" ng-model="pageSize" ng-change="pageChanged()">
                            </div>
                            <div class="center-block col-md-10">
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage"
                                    max-size="maxSize" class="pagination-sm" boundary-links="true"
                                    ng-change="pageChanged()" items-per-page="pageSize"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-directive></footer-directive>