<div class="modal fade" id="modalSearch" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Assignee</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    Selected manager: <p ng-show="!!selectedManager">{{selectedManager.firstName + ' ' +
                    selectedManager.lastName }}</p>
                    <div class="col-md-10">
                        <input ng-change="update()" type="text" ng-model="$parent.selectedManager"
                               uib-typeahead="manager as manager.firstName + ' ' +  manager.lastName for manager in managers"
                               class="form-control col-md-10" typeahead-show-hint="true" typeahead-min-length="3">
                    </div>
                    <button type="button" class="btn btn-default col-md-2" data-dismiss="modal"
                            data-toggle="modal" ng-click="assignToSmb(request.id)">Assign
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div>
    <button class="btn btn-info" data-toggle="modal"
            ng-click="selectRequest(request.id)" data-target="#modalSearch">Assign to smb
    </button>
</div>