.chart-size{
    width: 100%;
    height: 100%
}

.animate-repeat {
    line-height:40px;
    list-style:none;
    box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0s;
    transition:all linear 0s;
}

.reportclass_test * {
    display: inline-block;
}

.reportclass_test {
    text-align: center;
}

.reportclass_test select {
    margin-right: 20px;
}
.reportclass_test label {
    margin-right: 10px;
}

.reportclass_test .test .form-group input.form-control {
    vertical-align: middle!important;
}

.reportclass_test .btn .btn-info {
    position: relative;
    bottom: 3px;
}