<submit-update-request-status-popup></submit-update-request-status-popup>

<div data-dismiss="modal" data-toggle="modal" data-target="#updateRequestStatusModal">
    <span ng-hide="requestStatusButtonsHide(request)" style="margin-right: 5%">
        <button ng-show="request.status.id == 1"
                type="button" class="btn btn-success" ng-click="newStatus = 'begin'">Begin task</button>
        <button ng-show="request.status.id == 2"
                type="button" class="btn btn-info" ng-click="newStatus = 'finish'">Set complete</button>
        <button ng-show="request.status.id == 3 || request.status.id == 4"
                type="button" class="btn btn-warning" ng-click="newStatus = 'reopen'">Reopen</button>
    </span>
    <button ng-hide="request.status.id == 3 || request.status.id == 4 || request.status.id == 2"
            type="button" class="btn btn-danger" ng-click="newStatus = 'cancel'">Cancel</button>
</div>
