<div class="modal fade" id="groupLinkPopup" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Link to group</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10">
                        <input ng-change="updateGroupInput()" type="text" ng-model="selectedRequestGroup"
                               uib-typeahead="group as group.name for group in groups"
                               class="form-control" typeahead-show-hint="true" typeahead-min-length="3">
                    </div>
                    <div class="col-md-2">
                        <button ng-show="isGroupSelected()" type="button" class="btn btn-default"
                                data-dismiss="modal"
                                data-toggle="modal" ng-click="link()"
                                data-target="#messageModal">Link
                        </button>

                        <button ng-hide="isGroupSelected()" type="button" class="btn btn-default"
                                data-dismiss="modal"
                                data-toggle="modal" ng-click="createAndLinkGroup()"
                                data-target="#messageModal">Create and link
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
