<div ng-controller="NotifierNavController">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a ng-show="Session.isUserLoggedIn()" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">
                <i ng-if="notifications.length!=0" data-count="{{notifications.length}}" class="fa fa-lg fa-bell notification-icon" aria-hidden="true"></i>
                <i ng-if="notifications.length==0" class="fa fa-lg fa-bell" aria-hidden="true"></i>
            </a>
                <div ng-if="notifications.length!=0" class="dropdown-container">
                    <div class="dropdown-toolbar">
                        <a href="#" ng-click="deleteAllNotification()" class="animate-repeat">Mark all as read</a>
                    </div>
                    <ul class="dropdown-menu scrollable-menu">
                        <li ng-repeat="notification in notifications" ng-click="deleteNotification(notification.id)" class="notification">
                            <strong class="notification-title">{{notification.subject}}, check changes on
                                <a ng-href="/secured/employee/request/{{notification.request.id}}/details" ng-click="toRequest(notification.request.id)">page</a></strong>
                            <div class="notification-meta">
                                    <small class="timestamp">{{notification.creationTime | date: "dd.MM.yyyy HH:mm"}}</small>
                                </div>
                        </li>
                    </ul>
                </div>
                <div ng-if="notifications.length==0" class="dropdown-container">
                    <ul class="dropdown-menu scrollable-menu">
                        <li class="notification">
                            You don't have any notification
                        </li>
                    </ul>
                </div>
        </li>
        <li><a ng-show="Session.isUserLoggedIn()" href="/secured/employee/dashboard" ng-bind="Session.getUserName()"></a></li>
        <li><a ng-if="Session.isUserLoggedIn()" href="#" ng-click="logout()">Logout</a></li>
    </ul>
</div>
