<div id="sidebar-wrapper">
    <ul class="sidebar-nav" ng-controller="SideBarController">
        <li class="sidebar-brand">
            Menu
        </li>
        <!--For employee (also for manager and admin)-->
        <li>
            <a class="side-bar-dashboard" href="/dashboard">Dashboard</a>
        </li>
        <li>
            <a class="side-bar-my-requests" class="side-bar-my-requests" href="/request/my">My requests</a>
        </li>
        <li>
            <a href="#" ng-click="sideBarItemClick()">Closed requests</a>
        </li>
        <!--For manager (also fo admin)-->
        <li>
            <a class="side-bar-free-requests" href="/request/free" ng-click="sideBarItemClick()">Free requests</a>
        </li>
        <li>
            <a href="#" ng-click="sideBarItemClick()">Asigned requests</a>
        </li>
        <li>
            <a class="side-bar-request-group" ng-href="/request-group" ng-click="sideBarItemClick()">Request groups</a>
        </li>
        <!--For admin only-->
        <li>
            <a class="side-bar-request-user" href="/request/user" ng-click="sideBarItemClick()">Requests by user</a>
        </li>
        <li>
            <a class="side-bar-request-assigned" href="/request/assigned" ng-click="sideBarItemClick()">Assig. by manager</a>
        </li>
        <li>
            <a class="side-bar-users" href="/users" ng-click="sideBarItemClick()">Users</a>
        </li>
    </ul>
</div>