.title-text{
     color: #000;
     font-family: 'Roboto';
}

.ul-decoration{
     list-style: none;
     padding-left: 0;
}

.border{
     border-left: 2px solid rgba(0, 0, 0, 0.35);
}

.hr-sect {
     display: flex;
     flex-basis: 100%;
     align-items: center;
     color: rgba(0, 0, 0, 0.35);
     margin: 8px 0px;
}

.hr-sect a:hover{
    cursor:pointer;
}

.hr-sect::after {
     content: "";
     flex-grow: 1;
     background: rgba(0, 0, 0, 0.35);
     height: 1px;
     font-size: 0px;
     line-height: 0px;
     margin: 0px 8px;
}

.toggle-tittle{
     border:none;
     outline:none;
     text-decoration:none;
     color:inherit;
     -webkit-tap-highlight-color: white;
}

.additional-padding{
     padding-left: 30px;
}

.section-padding{
    padding-top: 40px;
}

.bold{
    font-weight: bold;
}