#description{
    width: 100%;
    resize: none;
}

#calendar{
    width: 60%;
}

#timepicker{
    width: 40%;
    float: left;
}

.form-control_offset{
    margin-top: 20px!important;
}

.request-name-incorrect{
    position: relative;
}

.request-name-incorrect::after{
    content: "Request name must contain at least 3 letters and start with capital letter!";
    color: #ff6464;
    font-size: 15px;
    position: absolute;
    top: 40px;
    left: 0;
}

.status-group{
    margin-bottom: 20px;
}
.status-text-wrapper{
    display: block;
    cursor: pointer;
    margin: 10px 0;
}
.status-dropdown i{
    margin-left: 10px;
}
.status-text-wrapper-outer{
    display: none;
}
.status-text-wrapper-inner{
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #000;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2)
}
.status-text-wrapper input{
    margin-right: 10px;
}
.table th, .form-inline label{
    text-align: center;
    font-weight: 900;
    font-size: 14px;
}
.task-row{
    height: 64px;
}
.task-row:hover{
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    outline: 1px solid #57ae79;
}
.task-row td{
    vertical-align: middle!important;
    font-size: 14px;
    cursor: pointer;
}
.task-row:nth-of-type(2n+1){
    background-color: #ffffff;
}
.form-inline{
    text-align: center;
    margin-bottom: 20px;
}
.form-inline .form-control{
    margin-left: 10px;
}
.jumbotron.bordered{
    padding-top: 30px!important;
}
.empty-request-title{
    text-align: center;
    font-size: 26px!important;
}
.empty-request-title-2{
    text-align: left!important;
    font-size: 26px!important;
    margin-top: 10px;
}
.user-table-stripped{
    margin-top: 10px;
}
.form-group.title-warning, .form-group.details-warning{
    margin-top: 30px;
    transition: 0.5s all ease;
}
.form-group.details-warning{
    margin-top: 40px;
}
.input-title-wrapper.warning, .input-details-wrapper.warning{
    position: relative;
}
.input-title-wrapper.warning::before, .input-details-wrapper.warning::before{
    content: "This field must contain less than 120 character:";
    position: absolute;
    top: -30px;
    left: 0;
    color: #ff5252;
}
.input-details-wrapper.warning::before{
    content: "This field must contain less than 500 character:";
}
.input-title-wrapper.warning .form-control, .input-details-wrapper.warning .form-control{
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255, 82, 82, 0.6);
    border: 1px solid #ff5252;
    outline: 0;
}
.input-title-wrapper.warning .form-control:focus, .input-details-wrapper.warning .form-control:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255, 82, 82, 0.6)!important;
    border: 1px solid #ff5252!important;
    outline: 0!important;
}