.navbar {
    margin-bottom: 0;
}

.bordered {
    border: solid 1px #c7c7c7;
}

.td-details {
    max-width: 150px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.form-sign-wrapper label{
    text-align: left!important;
}

.center-down {
    margin-top: 20vh;
}

.center-down h2 {
    text-align: center;
}